.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

input {
    margin-top: 1rem;
    border-radius: 0.4rem;
    padding: 0.6rem;
    width: 20vw;
    border-width: 0.2rem;

}

.register-btn {
    margin-top: 1rem;
}